$site-blue: #79addc;
$site-black: #000000;
$site-white: #ffffff;
$min-width: 818px;
$max-width: 980px;
$overlay-black: rgba(0, 0, 0, 0.4);
$center-items-padding: 0px 200px 0px 200px;
$light-gray: #ccc;
$nova: proxima-nova-extra-condensed, sans-serif;
